.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Remove the border */
    border-radius: 8px;
    cursor: pointer;
    background-color: #f6f6da; /* Light background for unselected tile */
    color: #000000; /* Black text for unselected tile */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    box-sizing: border-box;
    padding: 0 10px; /* Add padding on the left and right sides */
    text-align: center; /* Center the text */
    overflow: hidden; /* Ensure that text doesn't overflow */
    text-overflow: ellipsis; /* Add ellipsis if the text overflows */
    white-space: nowrap; /* Ensure the text stays on one line */
}

.tile.selected {
    background-color: #59594B; /* Dark background for selected tile */
    color: #FFFFFF; /* White text for selected tile */
}

.tile.merged {
    color: white;
    grid-column: span 4; /* Spanning entire width if merged */
    grid-row: span 1; /* Ensure it spans only 1 row */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.game-item {
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    cursor: pointer;
    width: 100%; /* Ensure button takes up full width of tile */
    height: 100%; /* Ensure button takes up full height of tile */
    display: flex;
    align-items: center;
    justify-content: center;
}

button.game-item:focus {
    outline: none;
}

button.game-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Subtle hover effect */
}
